/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        display: none;
    }
    60% {
        transform: translateY(0%);

    }
    100% {
        transform: translateY(0%);
        display: block;
    }

}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
        display: block;
    }
    30% {
        transform: translateY(-30%);
        display: none;
    }
    100% {
        transform: translateY(-100%);
    }
}

.slide-in-from-top {
    animation: slideInFromTop 0.5s forwards;
}

.slide-out-to-top {
    animation: slideOutToTop 0.5s forwards;
}