/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInFromTop {
    0% {
        transform: translateY(-65%);
        opacity: 0;
    }
    50%{
        transform:translateY(-50%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }

}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform:translateY(-50%);
        opacity:0;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.slide-in-from-top {
    animation: slideInFromTop 0.2s linear;
}

.slide-out-to-top {
    animation: slideOutToTop 0.2s forwards;
}