---
import Header from '../components/Header.astro';
import SideNav from '../components/SideNav.astro';
import InputBar from '../components/InputBar.astro';
import Layout from '../layouts/Layout.astro';
import {getFolders} from '../utils/helper.js';

const folders = getFolders();
---

<Layout>
	<main class="flex h-full w-full">
		<div class="flex-shrink-0">
			<SideNav folders={folders}/>
		</div>
		<div class=" flex flex-col items-center justify-start right-0 h-full w-full ">

			<div  class="md:text-2xl text-xl text-white max-w-screen-lg z-0 overflow-scroll p-2 mb-5 max-h-[75%]  text-justify">

				<p class="my-5 text-right"> Une question pertinente pour un notaire?</p>
				<hr class="border-gray-500 w-11/12 mx-auto my-5" />
				<div id="answerDiv" class="w-11/12 mx-auto">
					<h1 class="text-5xl font-bold text-white m-5">
						Lorem ipsum
					</h1>
					<p >
						
						Nunc est risus, euismod in tempor sit amet, imperdiet ut tellus. Nulla lobortis quis mi id viverra. Suspendisse commodo odio elit, ac mollis metus imperdiet ut. Donec dolor lacus, dapibus sit amet varius in, feugiat ornare neque. Suspendisse ut odio vestibulum, elementum nisl et, congue ex. Ut in lorem vitae mi congue suscipit. Nulla mollis vestibulum porttitor. Nunc pellentesque ultricies nibh vulputate pretium. Nulla ac tortor eget est rutrum lacinia. Ut sit amet hendrerit metus, vel aliquet augue. Donec eu risus non velit condimentum lobortis non in mauris. Nunc quis ultrices odio.
						
						Sed elementum tempus est sit amet convallis. Suspendisse nunc magna, rutrum nec tincidunt egestas, consequat vel massa. Sed at neque id nibh facilisis luctus non ut odio. Morbi nec leo imperdiet, ullamcorper ante at, placerat tellus. Mauris pretium fringilla diam, sit amet aliquam libero consectetur eu. Curabitur et vestibulum dui, sed rhoncus justo. Nunc sit amet sem vel nunc rutrum aliquam. Vivamus nec feugiat dui, quis accumsan tortor. Integer sit amet leo rhoncus, fermentum magna quis, dapibus mi. Nam lacus magna, mattis vitae bibendum nec, finibus nec quam. Quisque eget turpis lobortis, commodo urna ac, pellentesque magna. Mauris libero elit, aliquet ut auctor nec, aliquam ac neque. Suspendisse erat justo, molestie quis tincidunt in, facilisis eu nulla. Morbi sed dapibus nibh. Vivamus cursus rhoncus ultrices.
						
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend bibendum tristique. Suspendisse elementum, enim at dictum condimentum, velit magna laoreet eros, sit amet facilisis tellus enim eget eros. Integer a ultricies erat. Quisque pharetra nibh sit amet quam porttitor, ac volutpat purus tempus. Duis tempus quam ligula, vitae aliquet ipsum auctor vel. Sed posuere lacus a interdum scelerisque. Phasellus orci nisl, lacinia sit amet consequat ut, condimentum eu enim. Etiam ut elit felis. Quisque tempus maximus est, sit amet efficitur nulla varius vulputate. Nunc ac pellentesque ligula.
						
						In interdum diam nibh, vel facilisis ante rutrum in. Phasellus interdum, urna eget malesuada dapibus, nisl dolor iaculis ipsum, at sollicitudin est lacus et erat. Aliquam quis est condimentum, bibendum erat sit amet, iaculis eros. Nullam eleifend augue fringilla, placerat urna vitae, accumsan turpis. Donec bibendum mauris nec leo fringilla euismod. Nunc id sapien auctor quam lobortis venenatis. Aenean bibendum maximus risus id dapibus. Maecenas pellentesque molestie ornare. Praesent vel sapien sit amet elit malesuada viverra. Etiam pharetra eros sem, eu tristique orci consequat quis. Fusce orci enim, eleifend eget purus at, porttitor ornare purus. Pellentesque consequat, eros nec consequat aliquet, justo justo mattis dolor, id tempor augue sapien id mauris. </p>
				</div>
			</div>
			<InputBar />
		</div>
	</main>
</Layout>