---
import Header from '../components/Header.astro';
import SideNav from '../components/SideNav.astro';
import InputBar from '../components/InputBar.astro';
import Layout from '../layouts/Layout.astro';
import {getFolders} from '../utils/helper.js';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const folders = getFolders();
---

<Layout>
	<main class="flex h-full w-full">
		<div class="flex-shrink-0">
			<SideNav folders={folders}/>
		</div>
		<div class=" flex flex-col items-center justify-center right-0 w-full ">
			<InputBar />
		</div>
	</main>
</Layout>
